contrasenas.txt


#1 Asi ignoramos archivos
* .DS_Store

#2 Asi ignoramos a todos los archivos que inician con a
a* 

#3 Asi ignoramos un archivo dentro de una carpeta
carpeta/archivo.extensión

#4 Asi ignoramos carpetas completas
carpeta/